* {
    box-sizing: border-box;
}

/*CSS pour la div coordonnés du header*/
#div_top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*les li sont sur la meme ligne*/
#div_top li {
    display: inline-block;
}

#div_top a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
}

#div_top {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    border-bottom: 5px solid darkblue;
    border-top: 5px solid darkblue;
    right: 0;
    left: 0;

}

/**CSS POUR MENU.PHP***************************************************************************************/
/*les li sont sur la meme ligne*/
nav > ul > li {
    display: inline-block;
}

#menu li:last-of-type {
    margin-right: 10px;
}

/*les liens du menu.php*/
#menu a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 20px;
    margin-bottom: -5px;
}

#menu a:hover {
    color: white;
    font-size: 25px;
}

/* la liste du menu*/
#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/*CSS POUR HEADER.PHP***********************************************************/
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    border-bottom: 5px solid darkblue;
    right: 0;
    left: 0;

}

/**/
#div_logo a {
    padding: 10px;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    color: white;
    font-size: 25px;
}

/**CSS GENERAL*********************************************************************/
body {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

main {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;

}

/**CSS POUR LE FOOTER.PHP**************************************************************************************/
footer {
    background-color: rgb(30, 46, 71);
    opacity: 0.9;
    /*position: absolute;*/
    bottom: 0;
    right: 0;
    left: 0;
    height: 100px;
}

#social i {
    /* margin-right: 8px;
     margin-left: 7px;*/
    width: 55px;
}

#social {
    text-align: center;
    font-size: 50px;
}

/**CSS POUR LE CONTACT.PHP************************************************************************************/
#main_contact {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div_formContact label {
    width: 25%;
    display: inline-block;
    margin-top: 5px;
    color: white;
    font-size: 20px;
}

#div_formContact {
    width: 50%;
    margin-right: -100px;
    margin-top: 50px;
}

#div_formContact textarea {
    margin-left: 70px;
}

#div_formContact input {
    /* font-family: 'Open Sans Condensed', sans-serif;*/
    text-decoration: none;
    position: relative;
    width: 80%;
    display: block;
    margin: 9px auto;
    font-size: 17px;
    /*color: #fff;*/
    padding: 8px;
    border-radius: 6px;
    border: none;
    margin-bottom: 27px;

}

p.error {
    color: red;
    font-size: 15px;
    margin-top: -25px;
}

/**CSS POUR INDEX.PHP**************************************************************************************************/

/*le div contenant les bateaux*/
#nosBateaux {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
}

#bateauxMoteur {
    border: 5px blue solid;

}

#bateauxVoiles {
    border: 5px blue solid;

}

.nosBateaux {
    width: 30%;
    height: 250px;
    background-color: white;
    opacity: 0.7;
}

/*le div contenant les produits*/
#nosProduits {
    display: flex;
    justify-content: space-around;
    border: 1px solid white;

}

#vestesSauvetage {
    border: 5px blue solid;

}

#vetNautique {
    border: 5px red solid;

}

#accessoires {
    border: 5px blue solid;

}

.nosProduits {
    width: 30%;
    height: 250px;
    background-color: white;
    opacity: 0.7;
}

.h2produits {
    margin-right: 15px;
    color: white;

}

h3 {
    text-align: center;
}

#mainIndex {
    margin-top: 20px;
    margin-bottom: 20px;
}





























